// Creating custom variables

$gunmetal: #2A2D34;
$celestial: #009DDC;
$orange: #F26430;
$violet: #6761A8;
$green: #009B72;

$gray: #495867;
$blue: #577399;
$light-blue: #BDD5EA;
$ghost-white: #F7F7FF;
// $orange: #FE5F55;
// $black: #000000;
$light-gray: #777;

$black: #02010A;
$oxford: #04052E;
$federal: #140152;
$navy: #22007C;
$duke: #0D00A4;
$lighter-gray2: #e9e9e9;


@import "bootstrap/scss/functions";

// Bootstrap default values override
$badge-font-weight: 400;
$badge-font-size: 1rem;
$badge-padding-x: 1em;
$badge-padding-y: 0.5em;

$body-color: $ghost-white;
// $body-bg: $black;
$body-bg: $gunmetal;
$primary: $celestial;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

/*
$utilities: map-merge($utilities,
		( // scss-docs-end utils-borders
			// Sizing utilities
			// scss-docs-start utils-sizing
			"width": (property: width,
				class: w,
				values: (25: 25%,
					30: 30%,
					50: 50%,
					75: 75%,
					90: 90%,
					100: 100%,
					auto: auto))));
*/
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";

body {
	font-family: 'Exo 2', sans-serif;

	&.cs-CZ {
		header .cz {
			display: none;
		}
	}

	&.en {
		header .en {
			display: none;
		}
	}
}

header {
	img {
		width: 2rem;
		height: auto;
	}
}

.badge {
	border: 1px solid $ghost-white;
	flex: 1 1 0px;
	// margin-bottom: 10px;

	img {
		// fill: $ghost-white;
		height: 2rem;
		width: 2rem;
	}

	&:hover {
		img {
			fill: $blue;
		}
	}
}

.hello {
	.btn {
		svg {
			width: 2rem;
			height: 2rem;
			color: $ghost-white;
			transition: all 0.5s;
		}

		&:hover {

			svg {
				color: $celestial;
			}
		}
	}
}


h1,
h2,
h3,
h4 {
	font-weight: 300;
}

h1,
h2 {
	// text-align: center;
	margin-bottom: 10px;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 1px;
	margin: 22px 0;
	background-image: linear-gradient(to right, transparent, $lighter-gray2, transparent);
}

a {
	color: $blue;

	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

.halo {
	transition: all 1s;
	border: 0.25em solid $primary;
	padding: 0.15em;
	box-shadow:
		0 0 2em 1em $primary,
		0 0 3em 2em $violet,
		0 0 4em 3em $green;
}

a:hover {
	.halo {
		box-shadow:
			0 0 3em 1.5em $ghost-white,
			0 0 3em 1.5em $violet,
			0 0 4em 2em $green;
	}
}

.jobs a img,
.education a img {
	transition: all 1s;
}

.jobs a:hover img,
.education a:hover img {
	box-shadow:
		0 0 3em 1.5em $ghost-white,
		0 0 3em 1.5em $violet,
		0 0 4em 2em $green;
}


/*
img {
	&.round {
		border-radius: 50%;
		padding: 3px;
		border: 3px solid $oxford;

		box-shadow:
			0 0 60px 30px $duke,
			0 0 100px 60px $navy,
			0 0 140px 90px $federal;
	}
}

a:hover {
	img {
		&.round {
			// border-color: $ghost-white;
			// transition: all 0.5s;
			transition: all 1s;
			box-shadow:
				0 0 60px 30px $ghost-white,
				0 0 100px 60px $navy,
				0 0 140px 90px $federal;
		}
	}
}
*/

.lang {
	.flags {
		padding: 0 0 5px 0;
		display: flex;
		justify-content: flex-start;
	}
}

body {
	&.cs {
		.czech {
			display: none;
		}
	}

	&.en {
		.english {
			display: none;
		}
	}
}

// Menu

.header {
	background: white;
	border-top: 5px solid $lighter-gray2;
	border-bottom: 1px solid $lighter-gray2;
}

#logo {
	display: flex;

	@include media-breakpoint-down(sm) {
		justify-content: center;
		padding: 20px 0px 10px 0px;
	}

	a {
		display: inline-block;
		margin: auto 0;
	}
}

#menu {

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	ul.nav {
		display: block;
		float: right;

		@include media-breakpoint-down(sm) {
			display: inline-block;
			float: none;
		}

		li {
			float: left;
			position: relative;
			list-style: none;

			&.current {

				a {
					color: $blue;

					&:before,
					&:after {
						background: $blue;
						opacity: 1;
					}
				}

				&:before {
					position: absolute;
					top: -3px;
					background: $blue;
					left: 50%;
					content: '';
					display: block;
					width: 7px;
					height: 7px;
					margin: 0 0 0 -4px;
					transform: rotate(45deg);

					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}

			a {
				display: inline-block;
				padding: 25px 25px 25px;
				color: $gray;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.7;
				text-transform: uppercase;
				text-decoration: none;

				&:before {
					position: absolute;
					content: "";
					width: 100%;
					height: 5px;
					top: -5px;
					left: 0;
					opacity: 0;
				}

				&:after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					bottom: -1px;
					left: 0;
					opacity: 0;
				}

				&:hover,
				&:active {
					color: $blue;

					&:before,
					&:after {
						background: $blue;
						opacity: 1;

						@include media-breakpoint-down(sm) {
							opacity: 0;
						}
					}
				}

				@include media-breakpoint-down(sm) {
					text-decoration: underline;
					padding: 10px 20px;
				}
			}
		}
	}
}

/*
.progress-bar {
	width: 100%;
	height: 20px;
	background-color: $light-gray;
	border-radius: 5px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: $light-blue;
	transition: width 0.3s ease-in-out;
}
*/

.positions>.col,
.education>.col {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: $ghost-white;
		top: 0;
		left: 51px;
		margin: 2.5rem 0 0 0;
	}

	&:last-child:after {
		display: none;
	}

}

ul {
	li {
		display: block;
		padding-left: 30px;
		background: url('../images/check.png') no-repeat 0% 50%;

		@include media-breakpoint-down(sm) {
			// display: inline-block;
			padding: 0;
			background: transparent;
		}
	}
}

// @include media-breakpoint-down(sm) {
// 	text-align: center;
// }

.jobs,
.education {

	a {
		outline: 0;
		display: block;
		font-size: 30%;
	}

	img {
		width: 5rem;
		height: auto;
		display: block;
		background: $ghost-white;
		padding: 5px;
		position: relative;
		z-index: 10;

		@include media-breakpoint-down(sm) {
			margin: 0 auto 15px auto;
		}
	}
}

/*
.heading {
	// text-align: center;
}
*/

.bio {

	table {
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
	}

	th {
		font-weight: 400;
		padding-right: 15px;
	}

	td {
		padding: 2px 8px;
	}
}