// Customize some defaults

$body-bg: #495867;
$lighter-gray2: #e9e9e9;

$gray: #495867;
$blue: #577399;
$light-blue: #BDD5EA;
$ghost-white: #F7F7FF;
$orange: #FE5F55;
$black: #000000;
$light-gray: #777;

@import "bootstrap/scss/bootstrap";

.content {

	h1,
	h2,
	h3,
	h4 {
		font-weight: 300;
	}

	h1,
	h2 {
		// text-align: center;
		margin-bottom: 10px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	hr {
		border: 0;
		height: 1px;
		margin: 22px 0;
		background-image: -webkit-linear-gradient(left, transparent, $lighter-gray2, transparent);
		background-image: linear-gradient(to right, transparent, $lighter-gray2, transparent);
	}

	a {
		color: $blue;

		&:hover {
			color: $blue;
			text-decoration: underline;
		}
	}

	img {
		&.round {
			border-radius: 50%;
			padding: 3px;
			border: 3px solid $blue;
		}
	}

	a:hover {
		img {
			&.round {
				border-color: $orange;
				transition: all 0.5s;
			}
		}
	}

	.container {
		background-color: $ghost-white;
		max-width: 960px;

		.hello {
			text-align: left;
		}
	}
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

.scale:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}





.lang {
	.flags {
		padding: 0 0 5px 0;
		display: flex;
		justify-content: flex-start;
	}
}

body {
	&.cs {
		.czech {
			display: none;
		}
	}

	&.en {
		.english {
			display: none;
		}
	}
}

// Menu

.header {
	background: white;
	border-top: 5px solid $lighter-gray2;
	border-bottom: 1px solid $lighter-gray2;
}

#logo {
	display: flex;

	@include media-breakpoint-down(sm) {
		justify-content: center;
		padding: 20px 0px 10px 0px;
	}

	a {
		display: inline-block;
		margin: auto 0;
	}
}

#menu {

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	ul.nav {
		display: block;
		float: right;

		@include media-breakpoint-down(sm) {
			display: inline-block;
			float: none;
		}

		li {
			float: left;
			position: relative;
			list-style: none;

			&.current {

				a {
					color: $blue;

					&:before,
					&:after {
						background: $blue;
						opacity: 1;
					}
				}

				&:before {
					position: absolute;
					top: -3px;
					background: $blue;
					left: 50%;
					content: '';
					display: block;
					width: 7px;
					height: 7px;
					margin: 0 0 0 -4px;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);

					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}

			a {
				display: inline-block;
				padding: 25px 25px 25px;
				color: $gray;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.7;
				text-transform: uppercase;
				text-decoration: none;

				&:before {
					position: absolute;
					content: "";
					width: 100%;
					height: 5px;
					top: -5px;
					left: 0;
					opacity: 0;
				}

				&:after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					bottom: -1px;
					left: 0;
					opacity: 0;
				}

				&:hover,
				&:active {
					color: $blue;

					&:before,
					&:after {
						background: $blue;
						opacity: 1;

						@include media-breakpoint-down(sm) {
							opacity: 0;
						}
					}
				}

				@include media-breakpoint-down(sm) {
					text-decoration: underline;
					padding: 10px 20px;
				}
			}
		}
	}
}

.progress-bar {
	width: 100%;
	height: 20px;
	background-color: $light-gray;
	border-radius: 5px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: $light-blue;
	transition: width 0.3s ease-in-out;
}

.section {
	padding: 25px 0px;

	ul {
		li {
			display: block;
			padding-left: 30px;
			background: url('../images/check.png') no-repeat 0% 50%;

			@include media-breakpoint-down(sm) {
				// display: inline-block;
				padding: 0;
				background: transparent;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	>.row>.col-md-2 {

		a {
			outline: 0;
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 125px;
			display: block;

			@include media-breakpoint-down(sm) {
				margin: 0 auto 15px auto;
			}
		}
	}

	.heading {
		text-align: center;
	}

	>.row {
		padding-top: 20px;
		padding-bottom: 20px;
		align-items: center;
		justify-content: center;

		/* &:first-child {
			padding: 0;
		} */
	}
}

.bio {

	table {
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
	}

	th {
		font-weight: 400;
		padding-right: 15px;
	}

	td {
		padding: 2px 8px;
	}
}